<!DOCTYPE html>
<html>
<head>
<title>Theatron:Privacy Policy</title>
<link rel="icon" href="\static\thetron.png" type="image/x-icon">
<meta name="Theatron" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: center;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  background-color: #000000;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 670px) {
  .column {
    width: 100%;
    display: block;
  }
}
</style>
</head>
<body>

<div class="about-section">
<img align="start" width="10%" src="\static\theatron.png" style="float:left"/>
<h1 align="start" width="20%" style="float:center">
<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPrivacy Policy</h1>
<br><br><br><br><br>
<p>
We require certain information to provide our services to you. For example, you must have
an account in order to upload or share content on Theatron. When you choose to share the
information below with us, we collect and use it to operate our services.
</p>
<h3 align="start">Using the Services</h3>
In consideration for Theatron granting you access to and use of the Services, you agree that
Theatron and its third-party providers and partners may place advertising on the Services or
in connection with the display of Content or information from the Services whether
submitted by you or others. You also agree not to misuse our Services, for example, by
interfering with them or accessing them using a method other than the interface and the
instructions that we provide. You may not do any of the following while accessing or using
the Services:<br> (i) access, tamper with, or use non-public areas of the Services, Theatron’s
computer systems, or the technical delivery systems of Theatron’s providers;<br> (ii) probe, scan,
or test the vulnerability of any system or network or breach or circumvent any security or
authentication measures;<br> (iii) access or search or attempt to access or search the Services
by any means (automated or otherwise) other than through our currently available, published
interfaces that are provided by Theatron (and only pursuant to the applicable terms and
conditions), unless you have been specifically allowed to do so in a separate agreement with
Theatron (NOTE: crawling the Services is permissible if done in accordance with the
provisions of the robots.txt file, however, scraping the Services without the prior consent of
Theatron is expressly prohibited);<br> (iv) forge any TCP/IP packet header or any part of the
header information in any email or posting, or in any way use the Services to send altered,
deceptive or false source-identifying information; or<br> (v) interfere with, or disrupt, (or attempt
to do so), the access of any user, host or network, including, without limitation, sending a
virus, overloading, flooding, spamming, mail-bombing the Services, or by scripting the
creation of Content in such a manner as to interfere with or create an undue burden on the
Services. We also reserve the right to access, read, preserve, and disclose any information
as we reasonably believe is necessary to<br> (i) satisfy any applicable law, regulation, legal
process or governmental request,<br> (ii) enforce the Terms, including investigation of potential
violations hereof,<br> (iii) detect, prevent, or otherwise address fraud, security or technical
issues,<br> (iv) respond to user support requests, or<br> (v) protect the rights, property or safety of
Twitter, its users and the public. Theatron does not disclose personally-identifying
information to third parties except in accordance with our Privacy Policy.
<br><br>
<h3 align="start">Who May Use the Services</h3>You may use the Services only if you agree to form a binding contract with Theatron and are
not a person barred from receiving services under the laws of the applicable jurisdiction. In
any case, you must be at least 13 years old, or in the case of Periscope 16 years old, to use
the Services. If you are accepting these Terms and using the Services on behalf of a
company, organisation, government, or other legal entity, you represent and warrant that you
are authorised to do so and have the authority to bind such entity to these Terms, in which
case the words “you” and “your” as used in these Terms shall refer to such entity.
<br><br>
<h3 align="start">Advertisers and Other Ad Partners</h3>
Advertising revenue allows us to support and improve our services. We use the information
described in this Privacy Policy to help make our advertising more relevant to you, to
measure its effectiveness, and to help recognise your devices to serve you ads on Theatron.
Our ad partners and affiliates share information with us such as browser cookie IDs, mobile
device IDs, hashed email addresses, demographic or interest data, and content viewed or
actions taken on a website or app.<br>
Some of our ad partners, particularly our advertisers, also enable us to collect similar
information directly from their website or app by integrating our advertising
technology. Information shared by ad partners and affiliates or collected by Theatron from
the websites and apps of ad partners and affiliates may be combined with the other
information you share with Theatron and that Theatron receives about you described
elsewhere in our Privacy Policy.<br>
Theatron adheres to the Digital Advertising Alliance Self-Regulatory Principles for Online
Behavioural Advertising (also referred to as “interest-based advertising”) and respects the
DAA’s consumer choice tool for you to opt out of interest-based advertising based on
categories that we consider sensitive or are prohibited by law, such as race, religion, politics,
sex life, or health. Learn more about your privacy options for interest-based ads here and
about how ads work on our services here.<br>
If you are an advertiser or a prospective advertiser, we process your personal data to help
offer and provide our advertising services. You can update your data in your Theatron Ads
dashboard or by contacting us directly as described in this Privacy Policy.
<br><br>
<h3 align="start">Other Third Parties and Affiliates</h3>
We may receive information about you from third parties who are not our ad partners, such
as others on Theatron, partners who help us evaluate the safety and quality of content on our
platform, our corporate affiliates, and other services you link to your Theatron account.
You may choose to connect your Theatron account to accounts on another service, and that
other service may send us information about your account on that service. We use the
information we receive to provide you features like cross-posting or cross-service
authentication, and to operate our services. For integrations that Theatron formally supports,
you may revoke this permission at any time from your application settings; for other
integrations, please visit the other service you have connected to Theatron.
<br><br><h3 align="start">Cookies</h3>
A cookie is a small piece of data that is stored on your computer or mobile device. Like many
websites, we use cookies and similar technologies to collect additional website usage data
and to operate our services. Cookies are not required for many parts of our services such as
searching and looking at public profiles. Although most web browsers automatically accept
cookies, many browsers’ settings can be set to decline cookies or alert you when a website
is attempting to place a cookie on your computer. However, some of our services may not
function properly if you disable cookies. When your browser or device allows it, we use both
session cookies and persistent cookies to better understand how you interact with our
services, to monitor aggregate usage patterns, and to personalise and otherwise operate our
services such as by providing account security, personalising the content we show you
including ads, and remembering your language preferences. We do not support the Do Not
Track browser option.<br><br>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="\static\thetron.png"style="width:100%">
      <div class="container">
        <h2>Aviral Sharma</h2>
        <p class="title">CEO & Founder</p>
        <p>Theatron Square Pvt. Ltd.<br>
JG-1/89 A vikas Puri<br>
New Delhi-110018</p>
        <p>aviralsharma516@gmail.com</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>