<!DOCTYPE html>
<html>
<head>
<title>Theatron:Terms and Condition</title>
<link rel="icon" href="\static\thetron.png" type="image/x-icon">
<meta name="Theatron" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: center;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  background-color: #000000;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 670px) {
  .column {
    width: 100%;
    display: block;
  }
}
</style>
</head>
<body>

<div class="about-section">
<img align="start" width="10%" src="\static\theatron.png" style="float:left"/>
<h1 align="start" width="20%" style="float:center"><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTerms and Condition</h1>
<br><br><br><br><br>
<h3 align="start">Nudity or sexual content</h3>
Theatron isn't for erotic entertainment or explicitly express substance. If this portrays your
video, regardless of whether it's a video of yourself, don't post it on Theatron. Likewise, be
exhorted that we work intimately with law requirement and we report child exploitation.<br><br>
<h3 align="start">Harmful or dangerous content</h3>
Try not to post recordings that urge others to do things that may make them get hurt in any
form, particularly kids. Recordings demonstrating such hurtful or perilous acts may get agelimited
or expelled relying upon their seriousness.<br><br>
<h3 align="start">Hateful content</h3>
Our items are stages with the expectation of complimentary expansion. Yet, we don't support
content that advances or supports brutality against people or gatherings dependent on race
or ethnic origin, religion, handicap, sex, age, nationality, veteran status, position, sexual
direction, or sex personality, or substance that induces hatred based on these centre
qualities.<br><br>
<h3 align="start">Violent or graphic content</h3>
It's not alright to post rough or violent substance that is essentially proposed to be shocking,
exciting, or unwarranted. If posting such a substance, it would be ideal if you be careful to
give enough information to help individuals comprehend what's happening in the video. Try
not to urge others to submit explicit demonstrations of violence.
<br><br><h3 align="start">Harassment and cyberbullying</h3>
It's not alright to post damaging recordings and remarks. If provocation goes too far into a
malevolent assault it very well may be accounted for and might be expelled. In different
cases, clients might be somewhat irritating or unimportant and ought to be disregarded.
<br><br><h3 align="start">Threats</h3>
Things like savage conduct, stalking, dangers, badgering, terrorising, attacking protection,
uncovering others' personal information, and actuating others to submit rough acts or to
damage the Terms of Use are taken very seriously. Anybody found doing these things might
be forever restricted from Theatron.
<br><br><h3 align="start">Copyright</h3>
Respect copyright. Only upload videos that you made or that you're authorised to use. This
means don't upload videos you didn't make, or use content in your videos that someone else
owns the copyright to, such as music tracks, snippets of copyrighted programs, or videos
made by other users, without necessary authorisations. Visit our Copyright Center for more
information.
<br><br><h3 align="start">Privacy</h3>
In the event that somebody has posted your own data or transferred a video of you without
your assent, you can demand expulsion of substance dependent on our Privacy Guidelines.
<br><br><h3 align="start">Impersonation</h3>
Accounts that are established to impersonate another channel or individual may be removed
under our impersonation policy.
<br><br><h3 align="start">Child Safety</h3>
Learn about how we protect minors in the Theatron ecosystem. Also, be advised that we
work closely with law enforcement and we report child endangerment.
<br><br><h3 align="start">Additional policies</h3>
Additional policies on a range of subjects.
<br><br><h3 align="start">Termination</h3>
We may change, suspend, or end your entrance to or utilisation of our Services whenever
under any circumstances, for example, if you abuse the letter or soul of our Terms or make
damage, hazard, or conceivable lawful presentation for us, our clients, or others. The
accompanying arrangements will endure any end of your relationship with Theatron:
"Licenses," "Disclaimers," "Confinement of Liability," "Reimbursement," "Contest
Resolution," "Accessibility and Termination of our Services," "Other," and "Uncommon
Arbitration Provision for users."
<br><br><h3 align="start">Content on the Services</h3>
You are responsible for your use of the Services and for any Content you provide, including
compliance with applicable laws, rules, and regulations. You should only provide Content that
you are comfortable sharing with others.
Any use or reliance on any Content or materials posted via the Services or obtained by you
through the Services is at your own risk. We do not endorse, support, represent or guarantee
the completeness, truthfulness, accuracy, or reliability of any Content or communications
posted via the Services or endorse any opinions expressed via the Services. You understand
that by using the Services, you may be exposed to Content that might be offensive, harmful,
inaccurate or otherwise inappropriate, or in some cases, postings that have been mislabeled
or are otherwise deceptive. All Content is the sole responsibility of the person who originated
such Content. We are monitoring or control the Content posted via the Services and, we have
all the rights to take down any foul and inappropriate content without any warning or letter of
consent.<br><br>
If you believe that your Content has been copied in a way that constitutes copyright
infringement, please report this by visiting that specific profile or content.
<br><br>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="\static\thetron.png"style="width:100%">
      <div class="container">
        <h2>Aviral Sharma</h2>
        <p class="title">CEO & Founder</p>
        <p>Theatron Square Pvt. Ltd.<br>
JG-1/89 A vikas Puri<br>
New Delhi-110018</p>
        <p>aviralsharma516@gmail.com</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>